<%- include('partials/header.ejs')%>

<div class="page_header">
  <h2 class="page-title">Profil de <%= username %></h2>
</div>

<div class="page_body">
  <div class="row">
    Retrouvez ci-dessous la liste des commentaires que vous avez posté.
  </div>

  <div class="comments">
    <% if (user.commentsFromUser.length === 0) { %>
    <div class="comment">
      <p>Vous n'avez posté aucun commentaire pour le moment.</p>
    </div>
    <% } else { %> <% user.commentsFromUser.forEach(comment => { %>
    <div class="comment">
      <p class="comment-author-date"> 
        Commentaire posté le <%= comment.created_at.toLocaleDateString("fr") %>
      </p>
      <p class="comment-article-title"><a href="/question/<%= comment.questionOfComment.id %>"><%= comment.questionOfComment.title %></a></p>
      <p class="comment-description"><%= comment.description %></p>
    </div>
    <% })} %>
  </div>
</div>

<%- include('partials/footer.ejs')%>
