<%- include('./partials/header.ejs') %>

<section class="section--presentation">
  <h1 class="page-title">Questions</h1>
</section>

<section class="section--questions">
  <img
    class="main__banner main__banner--up"
    src="/img/mainUpBanner.png"
    alt="main up banner"
  />

  <div class="cards">
    <% questions.forEach(question => { %>
    <card class="card">
      <div class="card_header">
        <div class="card__tags-container">
          <% question.tagsFromQuestion.forEach(tag => { %>
          <a class="btn card_link card_link--tag" href="/tags/<%= tag.id %>">
            <img
              class="card_tag card_tag--<%= tag.name.toLowerCase() %>"
              src="/img/icons/<%= tag.icon %>.png"
              alt="icone du tag <%= tag.name %>"
              title="<%= tag.name %>"
            />
          </a>
          <% }) %>
        </div>
        <div class="card_img-container">
          <a
            class="btn card_link card_link--question"
            href="/question/<%= question.id %>"
          >
            <img
              class="card_img"
              src="/img/img_articles/<%= question.picture %>.jpg"
              alt="picture showing <%= question.picture %>"
            />
            <h3 class="card_title"><%= question.title %></h3>
          </a>
        </div>
      </div>
    </card>
    <% }) %>
  </div>

  <img
    class="main__banner main__banner--down"
    src="/img/mainDownBanner.png"
    alt="main down banner"
  />
</section>

<%- include('./partials/footer.ejs') %>
