<%- include('./partials/header.ejs') %>


<div class="page_header">
    <div class="img_container">
        <img class="page_img" src="/img/img_articles/<%= question.picture %>.jpg" alt="picture showing <%= question.picture %>">
    </div>
    <h1 class="page-title"><%= question.title %></h1>    
    <% question.tagsFromQuestion.forEach(tag => { %>
        <a
        class="btn card_link section-tags__link-tag"
        href="/tags/<%= tag.id %>"
      >
        <img
          class="tag tag--<%= tag.name.toLowerCase() %>"
          src="/img/icons/<%= tag.icon %>.png"
          alt="icone du tag <%= tag.name %>"
          title="<%= tag.name %>"
        />
      </a>
    <% }) %>
</div>
<div class="page_body">

    <p class="page_description"><%- texteAvecSautsDeLigne %></p>

    <section class="comments">
        
        <h3 class="comments-title">Commentaires</h3>
        
        <form action="" method="POST" class="form form--comment">

            <div class="form-label-group">
                <input type="text" class="form-control" id="comment-description" name="commentDescription"
                    placeholder="Votre commentaire" aria-label="Votre commentaire">
            </div>

            <% if (errorMessage) { %>
                <div class="error-message"><%= errorMessage %>. <a href="/login"> Cliquez ici pour vous connecter.</a></div>
            <% } %>

            <button class="btn btn--signin" type="submit">Envoyer</button>

        </form>

        <% question.commentsFromQuestion.forEach(comment => { %>
            <div id="comment-<%= comment.id %>" class="comment" data-id="<%= comment.id %>">
                <p class="comment-author-date">Commentaire posté par <strong><%= comment.userOfComment.username %></strong> le <%= comment.created_at.toLocaleDateString("fr") %></p>
                <p class="comment-description" slot="comment-description"><%= comment.description %></p>
                <% if (userID === comment.userOfComment.id) {%>
                    <div class="comment-icons">
                        <img class="comment-icon comment-icon--update" src="/img/icons/edit.png" alt="comment update icon" title="Modifiez votre commentaire" data-id="<%= comment.id %>">
                        <img class="comment-icon comment-icon--delete" src="/img/icons/trash.png" alt="comment delete icon" title="Supprimez votre commentaire" data-id="<%= comment.id %>">
                    </div>
                <% } %>
            </div>
        <% }) %>

    </section>

    <a class="btn btn--homepage_link" href="/">
        Retour à la page d'accueil
    </a>

</div>
        
</main>
    <footer class="site-footer">
        <div class="row">
            <a href="https://www.nicolassaumont.com/"><small>Nicolas Saumont © 2023</small></a>
        </div>
    </footer>

    <div id="deleteCommentModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Confirmation de suppression</p>
            <button class="delete closeModal" aria-label="close"><p class="cross">+</p></button>
            </header>
            <section class="modal-card-body">
            <p>Êtes-vous sûr de vouloir supprimer ce commentaire ? Cette action est irréversible</p>
            </section>
            <footer class="modal-card-foot">
            <button class="button is-danger" id="confirmDelete">Supprimer</button>
            <button class="button cancel" id="cancelDelete">Annuler</button>
            </footer>
        </div>
    </div>

    <form id="updateCommentModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Modification de votre commentaire</p>
            <button class="delete closeModal" aria-label="close"><p class="cross">+</p></button>
            </header>
            <section class="modal-card-body">
                <input type="text" class="form-control"             id="comment-description" name="description"
                    placeholder="Votre commentaire" aria-label="Votre commentaire">
            </section>
            <footer class="modal-card-foot">
            <button class="button is-warning" id="confirmUpdate">Modifier</button>
            <button class="button cancel" id="cancelUpdate">Annuler</button>
            </footer>
        </div>
    </form>


    <script src="/js/comment.js"></script>

</body>

</html>